!!!5
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="http://bootswatch.com/yeti/bootstrap.min.css")
    link(rel="stylesheet" href="css/style.css")
    title Test

  body
    #banner.banner
    main.main.bs-masthead#content(role="main")



  include ./scripts