script(src="http://code.jquery.com/jquery-2.0.3.min.js")
script(src="http://underscorejs.org/underscore-min.js")
script(src="http://backbonejs.org/backbone-min.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
script(src="/js/style.js")
script(src="/js/vendor/marionette.min.js")
script(src="/js/vendor/require.js")
script
  require({
    baseUrl: ".",
    packages: [
      { name: "templates", location: "/templates"},
      { name: "app", location: "/js" },
      { name: "views", location: "/js/views" },
      { name: "models", location: "/js/models"},
      { name: "collections", location: "/js/collections"},
      { name: "vendor", location: "/js/vendor" }
    ]
  },[
   'app/main'
  ]);