form.item-edit-form.input-group.col-md-8.center
	input.form-control(type="text" name="title" value="#{item.title}")
	textarea.form-control(name="content" rows="10")
		| #{item.content}
	input(type="hidden" name="id" value="#{item.id}")
	button.btn.btn-primary(type="submit") Save
	button.btn.btn-danger.delete(type="button") Delete