a(href="#/new")
  button.btn.btn-primary.margin-5 New
hr
.center
  .item-list.width-full-res
  //-
    - each item in items
      a(href="#/item/#{item.id}")
        li.hover.trans.bg-white
          | #{item.title}
          .delete.btn.btn-danger(data-id="#{item.id}") X
      //.spacer-25
.spacer-100
