a(href="#/new")
  button.btn.btn-info New
hr
table.table.striped
  thead
    tr
      th Title
      th delete
  tbody
    each item in items
      tr
        td
          a.btn(href="#/item/#{item.id}")
            | #{item.title}

        td
         a.btn.btn-danger(href="#/del/#{item.id}") X