.spacer-100
.item-box.center.box-shadow-light.trans
  form.item-edit-form.input-group.col-md-12.center
    input.form-control.width-full.bold.large(type="text" name="title" placeholder="Title")
    textarea.form-control.width-full(name="content" rows="5" placeholder="Content")
    .spacer-25
    button.btn.btn-primary.margin-5(type="submit") Save
.spacer-100