form.item-edit-form.input-group.col-md-8.center.content
  input.form-control(type="text" name="title" placeholder="Title")
  textarea.form-control(name="content" rows="10" placeholder="Content")
  button.btn.btn-primary(type="submit") Save